$color-white: #fff;
$color-white-light: #f9f9f9;
$color-white-dark: #f0f0f0;

$color-grey-light-1: #d3d3d3;
$color-grey-light-2: rgba(0, 0, 0, 0.1);
$color-grey-light-3: rgba(0, 0, 0, 0.05);
$color-grey-dark-1: #909090;
$color-grey-dark-2: #606060;

$color-black: #000;

$color-outline: #1c62b9;

$default-font-size: 1.6rem;
