.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--search,
  &--voice {
    width: 5rem;
    height: 4rem;
  }

  &--search {
    border: 1px solid $color-grey-light-1;
    border-left: none;
    background-color: $color-white-dark;
    margin-right: 2rem;
  }

  &--voice {
    border-radius: 50%;
    background-color: $color-white-light;
  }

  &--mobileSearch {
    display: none;
    @include respond(smallPhone) {
      display: block;
    }
  }

  &--create,
  &--app,
  &--notifications,
  &--user,
  &--mobileSearch {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    margin: 0 0.8rem;

    transition: all 0.1s ease-in;
    border: 1px solid $color-white;

    &:not(:last-child):active {
      background-color: $color-white-dark;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    @include respond(tab-port) {
      margin: 0 0.6rem;
    }

    @include respond(smallPhone) {
      font-size: 1.8rem;
      margin: 0 0.4rem;
    }
  }

  &--notifications {
    @include respond(smallPhone) {
      display: none;
    }
  }
}
