.overview {
  background-color: $color-white;
  height: 6rem;
  display: flex;
  align-items: center;
  border-top: 1px solid $color-white-dark;
  border-bottom: 1px solid $color-white-dark;
  position: relative;
  overflow: hidden;

  &__list {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    list-style: none;
  }

  &__item {
    flex: 0 0 auto;
    margin-right: 1.2rem;
  }

  &__btn {
    font-size: inherit;
    font-family: inherit;
    display: flex;
    padding: 0.8rem 1.2rem;
    text-align: center;
    border-radius: 100px;
    background-color: $color-grey-light-3;
    border: 1px solid $color-grey-light-2;
    transition: 0.2s;

    &:not([class*='active']):hover {
      background-color: $color-grey-light-2;
    }

    &--active {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &__wrapper {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__background,
  &__effect {
    position: fixed;
    width: 5rem;
    height: 5rem;
  }

  &__background {
    background-color: rgba(255, 255, 255, 0.98);
    &--left {
      display: none;
    }
    &--right {
      right: 0%;
    }
  }

  &__effect {
    &--left {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.98) 20%,
        rgba(255, 255, 255, 0) 80%
      );
      margin-left: 5rem;
    }

    &--right {
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.98) 20%,
        rgba(255, 255, 255, 0) 80%
      );
      margin-left: -5rem;
    }
  }

  &__left,
  &__right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $default-font-size;
  }
}
