.video {
  background-color: $color-white-light;
  padding: 2.4rem 1.6rem 0;

  display: flex;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
  }

  .row {
    width: 100%;
    max-width: calc(4 * 36rem + 1.6rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include respond(tab-land) {
      max-width: calc(3 * 36rem + 1.6rem);
    }

    @include respond(phone) {
      max-width: calc(2 * 32rem + 1.6rem);
    }

    @include respond(smallPhone) {
      max-width: calc(1 * 32rem + 1.6rem);
      flex-direction: column;
    }
  }

  &__group {
    margin-left: calc(1.6rem / 2);
    margin-right: calc(1.6rem / 2);
    margin-bottom: 4rem;
    width: calc(100% / 4 - 1.6rem);
    cursor: pointer;

    @include respond(tab-land) {
      width: calc(100% / 3 - 1.6rem);
    }

    @include respond(phone) {
      width: calc(100% / 2 - 1.6rem);
    }
    @include respond(smallPhone) {
      width: calc(100% / 1 - 1.6rem);
    }
  }

  &__details {
    display: flex;
    margin-top: 1rem;
  }

  &__thumbnail {
    display: flex;
    position: relative;
  }

  &__thumbnail img {
    width: 100%;
  }

  &__time {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: $color-white;
    padding: 3px 4px;
    margin: 4px;
    border-image: 2px;
    font-size: 1.2rem;
  }

  &__logo img {
    width: 3.6rem;
    border-radius: 50%;
    margin-right: 1.2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 25rem;
  }

  &__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
  }

  &__channel-name,
  &__statistics {
    color: $color-grey-dark-2;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  &__channel-name {
    width: 15.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__views::after {
    content: '•';
    margin-left: 3px;
  }
}
